@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    position: absolute;
}

.hero-image {
    background:url(image/banner.jpeg);
    /*https://i0.wp.com/media.giphy.com/media/5ERaOy5fQEIAU/giphy.gif*/
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 290px 0px;
}

img{
    border-radius: 20px;
    width: 280px;
    padding-right: 5px;
    padding-top: 0px;
}
#body{
    padding: 30px;
    margin-top: 2px;
    display: flex;
}

.text {
    align-self: flex-end;
  }

#image{
    float: left;    
    margin: 35px 0 0 15px;
}

#image-header{
    margin: 0px 0 10px 15px;
}

#body p{
    color: rgb(0, 0, 0);
    font-family: arial;
    font-size: 16px;
    line-height: 1.4em;
    text-align: justify;
}

.datetime {
    text-align: right;
  }
  
.big-text {
    font-size: 130px;
    font-weight:800;
    animation-delay: 1s;
}

.hero-image a {
    display: inline-block;
    background: #fff;
    color: #36465d;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;
    font-size: 40px;
    transition: .3s;
}

.hero-image a:hover {
    background: #333;
    color: #fff;
    padding: 15px 20px;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}

.nav {
    list-style: none;
}

.nav li{
    display: inline-block;
    padding: 0px 35px;
}

.nav li a{
    transition: all 0.3s ease 0s;
}

.nav li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgb(72, 215, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.wrapper {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 320px;
    width: 1600px;
    margin: auto;
}

.wrapper p {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    float: left;
    margin: 20px;
    padding: 20px;
    width: 350px;
    text-align: center;
}

.img {
    float: left;
}

footer{
    height: 40px;background-color: rgb(255, 255, 255); 
    padding-top: 12px; 
    color: rgb(0, 0, 0);
    width: auto; 
    margin: 0;
}